
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.canvas-wrapper {
  flex: 1;
  position: relative;  /* so children can absolutely fill it */
  background: #e0d18c;
}

.card {
  padding: 2em;
}

.canvas-wrapper canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
	.flex {
	  flex-direction: column; /* Stack elements vertically */
	}
	.grid {
		grid-template-columns: repeat(3, 1fr); /* Adjust grid layout */
	  }
	
	  h1 {
		font-size: 1.5em; /* Adjust font size for smaller screens */
	  }
	
	  button {
		font-size: 1.5em;
		padding: 0.5em 1.4em;
	  }
}